# Node.js
node_modules/
dist/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/backend/node_modules
/backend/dist
/frontend/node_modules
/frontend/dist

# Docker
docker-compose.override.yml
